.cont {
  padding-left: 3.1rem;
}

.page {
    padding: 1rem;
  color: white;
}

.cont__page {
  min-height: 90vh;
  background: rgba(210, 210, 243, 0.726);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(57, 57, 243, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
  color: #030325;
}
